/* GENERAL STYLING */

body {
  background-color: #fefdfb;
  font-family: 'Merriweather', garamond, serif;
}

/*SIDE NAV*/

#side-navbar {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 6%;
}

.nav-logo {
  width: 50%;
}

.nav-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white
}

.nav-options i, .nav-options img {
  margin: 2vh 0 5vh 0;
}

.nav-options i {
  cursor: pointer;
}

/*DASH-VIEW*/

#dash-view {
  display: inline-flex;
  flex-direction: column;
  padding: 3vw 5vw;
}

#manager-view, #statistics-view, #settings-view {
  display: none;
}

.dash-title {
  display: flex;
  flex-direction: row;
  padding: 1vw
}

.active-block {
  display: block !important;
}

.manager-view-selector {
  display: flex;
  flex-direction: row;
}

.manager-view-selector div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1vw;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.manager-view-selector div img {
  width: 70%;
}

.add-selector a {
  font-size: 3.5em;
  font-weight: 300;
}

#manager-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 300;
  margin: 0 0 3vh 0;
  padding: 1vw;
}

.manager-stats-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #647382;
  padding: 5vh 5vw 2vh 5vw;
}

.manager-stats-card span {
  font-size: 3em;
  font-weight: 500;
}

#manager-controls {
  display: flex;
  flex-direction: row;
}

#assignment-manager, #clone-manager {
  width: 50%;
  padding: 1vw;
}

#assignment-search-bar, #clone-title-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 1vw;
}

#assignment-search-bar div:first-of-type {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#assignment-search-bar i {
  font-size: 1em;
  margin-left: 1vw;
}

#assignment-switch-container, #clone-slide-container {
  height: 40vh;
  overflow: scroll;
  padding: 1vw;
  margin-top: 1vh;
  border: 1px solid #647382;
}

.assignment-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.assignment-row p {
  margin: 1vh 0;
  font-size: 1em;
}

#clone-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.clone-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clone-stat p:first-of-type {
  font-size: 3em;
}

#saved-notification {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  float: right;
  width: 15%;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-weight: 300;
  padding: 1vh;
  margin: 3vw;
}

#saved-notification p {
  margin: 0;
  color: white;
}

.active-flex {
  display: flex !important;
}
