/*NAVBAR*/

.nav {
  margin: auto 1vw;
}

.nav-list li a:hover {
  background: none;
  text-decoration: underline;
}

.nav-list, .banner-list {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1em;
}

.nav-list li a {
  font-weight: 300;
  padding:0 1vw;
  cursor: pointer;
}

.banner-list li a {
  padding: 0.7vw 3vw;
  cursor: pointer;
}

.nav-banner, .nav-banner div {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: 'Merriweather', garamond, serif;
}

.nav-banner {
  padding: 0 1em;
  display: none;
}

.nav-banner p {
  font-size: 1.5em;
}

.banner-hide {
  font-size: 2em;
  cursor: pointer;
}

.hide {
  display: none;
}

.nav-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 2px 2px -2px grey;
  background-color: #fefdfb;
  z-index: 1000;
}

.nav-bar .nav {
  display: flex;
  justify-content: space-between;
  font-family: 'Open Sans', helvetica, sans-serif;
  padding: 0.5em 0;
}

.nav-logo {
  height: 39px;
}

.nav-title {
  font-size: 1.2em;
  font-weight: 500;
  font-family: 'Merriweather', garamond, serif;
  color: black;
  padding:0 1vw;
}

@media only screen and (max-width: 805px) {
  .nav-banner div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .nav-banner p {
    margin: 0.5em;
  }
}
