/* GENERAL STYLING */

body {
  background-color: #fefdfb;
  font-family: 'Merriweather', garamond, serif;
}

/*SIDE NAV*/

#side-navbar {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 6%;
}

.nav-logo {
  width: 50%;
}

.nav-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white
}

.nav-options i, .nav-options img {
  margin: 2vh 0 5vh 0;
}

.nav-options i {
  cursor: pointer;
}

/*DASH-VIEW*/

#dash-view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3vw 3vw;
  height: 90vh;
}

#login-container {
  padding: 2vh 1vw;
  box-shadow: 5px 5px 5px 0px #ECECEC;
  border: 1px solid #ECECEC;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-weight: 300;
}

#login-form {
  padding: 0 15vw;
}

#login-form h4 {
  font-weight: 300;
  text-align: center;
}

#login-input-container {
  padding: 5vh 0;
  padding-bottom: 15vh;
}

#login-input-container input {
  margin: 0;
  height: 2em;
  border-color: #28c3b5;
}

#login-container .btns {
  float: right;
}

.active-block {
  display: block !important;
}

.active-flex {
  display: flex !important;
}


#saved-notification {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  float: right;
  width: 15%;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-weight: 300;
  padding: 1vh;
  margin: 3vw;
}

#saved-notification p {
  margin: 0;
  color: white;
}
