/* GENERAL STYLING */

body {
  background-color: #fefdfb;
  font-family: 'Merriweather', garamond, serif;
}

/*PRIVACY*/

#privacy-container {
  padding: 20vh 10vw;
}

#privacy-container div ul li {
  list-style-type: disc;
  margin-left: 30px;
}

/*REQUEST DEMO MODAL AND FORM*/

.modal {
  width: 48%;
  max-height: 100%;
}
#demo-modal {
  top: 5% !important;
}

#demo-modal .modal-content {
  padding: 7vh 7vw;
}

#demo-modal .modal-content h4 {
  text-align: center;
}

#demo-modal .modal-content .input-field {
  margin: 2vh;
}

#demo-modal .modal-content .input-field input{
  width: 100%;
  margin: 0;
}

#demo-modal .modal-content .btns {
  margin: 5vh 2vh;
}

#demo-modal .modal-content .btns button {
  width: 100%;
  height: 3em;
  line-height: 3em;
  font-size: 18px;
}

@media only screen and (max-width: 1000px) {
  #demo-modal {
    width: 70% !important;
  }
}

@media only screen and (max-width: 600px) {
  #demo-modal {
    width: 85% !important;
  }
}

/* SIGN IN MODAL AND FORM*/

#sign-in-modal .modal-content {
  padding: 7vh 7vw;
}

#sign-in-modal .modal-content h4 {
  text-align: center;
}

#sign-in-modal .modal-content .input-field {
  margin: 2vh;
}

#sign-in-modal .modal-content .input-field input{
  width: 100%;
  margin: 0;
}

#sign-in-modal .modal-content .btns {
  margin: 5vh 2vh;
}

#sign-in-modal .modal-content .btns button {
  width: 100%;
  height: 3em;
  line-height: 3em;
  font-size: 18px;
}

@media only screen and (max-width: 1000px) {
  #sign-in-modal {
    width: 70% !important;
  }
}

@media only screen and (max-width: 600px) {
  #sign-in-modal {
    width: 85% !important;
  }
}
