@import url("../styles/buttons.css");
@import url("../styles/styles.css");
@import url("../styles/forms.css");
@import url("../styles/nav.css");
@import url("../styles/footer.css");

/* GENERAL STYLING */

body {
  background-color: #fefdfb;
  font-family: 'Merriweather', garamond, serif;
}

/* SIGN UP CONTAINER*/

#signup-container {
  padding-top: 10vw;

}

/*SIGN UP FORM*/

#signup-form > div {
  padding-bottom: 10vw;
}

#signup-form div h4 {
  text-align: center;
  margin-bottom: 5vw;
}

#signup-form .btns a {
  width: 100%;
  height: 3em;
  line-height: 3em;
  font-size: 18px;
}

.form-break {
  display: flex;
  justify-content: space-between;
}

/*DEAL STRUCTURE*/
.deal-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-weight: 300;
}

.deal-text-container div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*TOS*/

#tos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tos .tos-text-container {
  height: 20vw;
  padding: 1vw;
  overflow-y: scroll;
  border: 1px solid #7f5dfc;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-weight: 300;
}

/*REQUEST DEMO MODAL AND FORM*/

.modal {
  width: 48%;
  max-height: 100%;
}
#demo-form {
  top: 5% !important;
}

#demo-form .modal-content {
  text-align: center;
  padding: 7vh 7vw;
}

#demo-form .modal-content h3 {
  margin-bottom: 5vh
}

#demo-form .modal-content .input-field {
  margin: 2vh;
}

#demo-form .modal-content .input-field input{
  width: 100%;
  margin: 0;
}

#demo-form .modal-content .btns {
  margin: 5vh 2vh;
}

#demo-form .modal-content .btns a {
  width: 100%;
  height: 3em;
  line-height: 3em;
  font-size: 18px;
}

@media only screen and (max-width: 1000px) {
  #demo-form {
    width: 70% !important;
  }
}

@media only screen and (max-width: 600px) {
  #demo-form {
    width: 85% !important;
  }
}

/* SIGN IN MODAL AND FORM*/

#sign-in-form .modal-content {
  text-align: center;
  padding: 7vh 7vw;
}

#sign-in-form .modal-content h3 {
  margin-bottom: 10vw;
}

#sign-in-form .modal-content .input-field {
  margin: 2vh;
}

#sign-in-form .modal-content .input-field input{
  width: 100%;
  margin: 0;
}

#sign-in-form .modal-content .btns {
  margin: 5vh 2vh;
}

#sign-in-form .modal-content .btns a {
  width: 100%;
  height: 3em;
  line-height: 3em;
  font-size: 18px;
}

@media only screen and (max-width: 1000px) {
  #sign-in-form {
    width: 70% !important;
  }
}

@media only screen and (max-width: 600px) {
  #sign-in-form {
    width: 85% !important;
  }
}
