<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Kylie.ai</title>

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="57x57" href="../public/images/favicon.ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../public/images/favicon.ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../public/images/favicon.ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../public/images/favicon.ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../public/images/favicon.ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../public/images/favicon.ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../public/images/favicon.ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../public/images/favicon.ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../public/images/favicon.ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../public/images/favicon.ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/images/favicon.ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../public/images/favicon.ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/images/favicon.ico/favicon-16x16.png">
    <link rel="manifest" href="../public/images/favicon.ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff ">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff ">

    <!-- STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400|Open+Sans:300,400" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../public/node_modules/materialize-css/dist/css/materialize.min.css" rel="stylesheet">
    <link href="../public/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/styles/styles.css" rel="stylesheet">
    <link href="../public/styles/bubble_nav.css" rel="stylesheet">
    <link href="../public/styles/forms.css" rel="stylesheet">
    <link href="../public/styles/home.css" rel="stylesheet">

    <!-- SCRIPTS -->
    <script type="text/javascript" src="../public/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../public/node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="../public/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../public/scripts/home.js"></script>
  </head>
  <body class="background-color">

    <!-- bubble navigation -->
  <div class="row in_front">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="menu">
          <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
          <label class="menu-open-button" for="menu-open">
            <span class="hamburger hamburger-1"></span>
            <span class="hamburger hamburger-2"></span>
            <span class="hamburger hamburger-3"></span>
          </label>

          <a href="/stats.html" class="menu-item" id="statToggle"> <i class="fa fa-bar-chart"></i> </a>
          <a href="/progress.html" class="menu-item" id="homeToggle"> <i class="fa fa-home"></i> </a>
          <a href="https://twitter.com/intent/tweet?text=Just%20signed%20up%20for%20the%20early%20release%20of%20@AiKylie!%20Alan%20Turing%20would%20be%20proud%20:)%20@legionanalytics." target="_blank" class="menu-item"> <i class="fa fa-twitter"></i> </a>
          <a href="mailto:support@legionanalytics.com?subject=Support Request:Kylie.ai" target="_blank" class="menu-item"> <i class="fa fa-envelope"></i> </a>
          <a href="/settings.html" class="menu-item" id="settingsToggle"> <i class="fa fa-cog"></i> </a>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
              <filter id="shadowed-goo">

                  <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
                  <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
                  <feGaussianBlur in="goo" stdDeviation="3" result="shadow" />
                  <feColorMatrix in="shadow" mode="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 -0.2" result="shadow" />
                  <feOffset in="shadow" dx="1" dy="1" result="shadow" />
                  <feBlend in2="shadow" in="goo" result="goo" />
                  <feBlend in2="goo" in="SourceGraphic" result="mix" />
              </filter>
              <filter id="goo">
                  <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
                  <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
                  <feBlend in2="goo" in="SourceGraphic" result="mix" />
              </filter>
            </defs>
        </svg>
      </div>
  </div>
  <!-- bubble navigation -->


  <div id="home-container" class="col-md-10 container">

    <div class="col-md-4">

      <div class="row">
        <div class="text-container">
            <h1 id="home-text">
              Hi Chris,<br><br> You're all set! When I'm ready I'll start creating drafts for your most repetitive emails. Come back every week to check out your <a href="/stats" class="green-font"> email stats</a> or just watch out for an email from me! <br><br> -Yours,<br>Kylie
            </h1>
        </div>
      </div>
    </div>

    <div class="col-md-7 col-md-offset-1 col-xs-12">

      <div class="row">
        <div class="text-container purple-font">
          <h3 id="referral-text">
            Invite your sales team & <br> Get unlimited drafts
          </h3>
        </div>
      </div>

      <div class="row">
        <div id="referral-container" class="col-md-12 col-sm-12 col-xs-12">
          <div class="input-field col-md-4 col-sm-4 col-xs-12">
            <textarea id="custom-message" class="materialize-textarea">I just signed up for this service called Kylie.ai where she will automatically draft sales emails for me. It's a pretty cool service and there's nothing to download or cc, just connect your email. Would you mind helping me test it out?</textarea>
            <label for="custom-message">Type here to create a custom message...</label>
          </div>

          <div id="referral-form" class="col-md-8 col-sm-8 col-xs-12">
            <div class="row referral-row">
              <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="col-md-4 col-sm-4 col-xs-4">
                  <div class="input-field no-margin-top">
                    <input type="text" class="validate name-input">
                    <label>Name</label>
                  </div>
                </div>

                <div class="col-md-8 col-sm-8 col-xs-8 no-padding-left">
                  <div class="input-field no-margin-top">
                    <input type="text" class="validate email-input">
                    <label>Email Address</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row referral-row">
              <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="col-md-4 col-sm-4 col-xs-4">
                  <div class="input-field no-margin-top">
                    <input type="text" class="validate name-input">
                    <label>Name</label>
                  </div>
                </div>

                <div class="col-md-8 col-sm-8 col-xs-8 no-padding-left">
                  <div class="input-field no-margin-top">
                    <input type="text" class="validate email-input">
                    <label>Email Address</label>
                  </div>
                </div>

              </div>
            </div>
            <div class="row referral-row">
              <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="col-md-4 col-sm-4 col-xs-4">
                  <div class="input-field no-margin-top">
                    <input type="text" class="validate name-input">
                    <label>Name</label>
                  </div>
                </div>

                <div class="col-md-8 col-sm-8 col-xs-8 no-padding-left">
                  <div class="input-field no-margin-top">
                    <input type="text" class="validate email-input">
                    <label>Email Address</label>
                  </div>
                </div>

              </div>
            </div>


          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 center">
              <div class="col-md-4">
                <button type="button" id="referral-btn" class="btn waves-effect waves-light waves-ripple green-background">Invite Now</button>
              </div>

            </div>
          </div>
      </div>
    </div>
  </div>
</div>

  </body>
</html>
