<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Kylie.ai</title>

    <!-- STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400|Open+Sans:300,400" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../public/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/styles/main.css" rel="stylesheet">

    <!-- SCRIPTS -->
    <script type="text/javascript" src="../public/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../public/node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="../public/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../public/scripts/index.js"></script>

  </head>
  <body>
    <div id="intro" class="container">
      <div class="row col-md-offset-1">
        <div id="intro-image" class="col-md-5 col-md-push-6">
          <img src="../public/images/Final_production_hero_image.png">
        </div>

        <div id="intro-message" class="col-md-5 col-md-pull-5 col-xs-12">
          <h1 class="intro-text">Hello, <br class="responsive-br"/>I'm Kylie!</h1>

          <h3 class="intro-text">I help draft responses to <br class="responsive-br"/>your sales emails</h3>

          <button type="button" id="intro-btn" class="btn waves-effect waves-light waves-ripple">Start free trial</button>
        </div>
      </div>
    </div>

    <hr>

    <div class="container">
      <div class="row col-md-offset-3">
        <div class="col-md-2 col-sm-3 col-xs-3 logo-image">
          <img src="../public/images/hubSpot_logo.png">
        </div>
        <div class="col-md-2 col-sm-3 col-xs-3 logo-image">
          <img src="../public/images/mattermark_logo.png">
        </div>
        <div class="col-md-2 col-sm-3 col-xs-3 logo-image">
          <img src="../public/images/pandora_logo.png">
        </div>
        <div class="col-md-2 col-sm-3 col-xs-3 logo-image">
          <img src="../public/images/slack_logo.png">
        </div>
      </div>
    </div>

    <section id="emails-container">
      <div class="text-center">
        <h2 id="email-head" class="sec-titles">How it works</h2>
      </div>

      <div>
        <div id="email-1" class="col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5 col-xs-8 col-xs-offset-2 emails">
          <div>
            <p class="email-titles"><strong>To:</strong></p>
            <p class="email-titles">Potential Customer</p>
          </div>
          <div>
            <p class="email-titles"><strong>From:</strong></p>
            <p class="email-titles">You</p>
          </div>
          <hr class="email-hr">
          <div>
            <p>
              Hi Sarah,
              <br><br>
              It was nice meeting you at the conference last week.
              I'm following up on our conversation about your team needs.
              Are you the point person for this decision or should we loop in others from your team?
              <br><br>
              Best,
              <br>
              Liz
            </p>
          </div>
        </div>
      </div>

      <div id="email-img-1" class="col-md-2 col-md-offset-9 col-sm-2 col-sm-offset-9 col-xs-3 col-xs-offset-8 email-imgs">
        <img src="../public/images/Final_production_first_email_image.png">
      </div>

      <div>
        <div id="email-2" class="col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2 col-xs-8 col-xs-offset-1 emails">
          <div>
            <p class="email-titles"><strong>To:</strong></p>
            <p class="email-titles">You</p>
          </div>
          <div>
            <p class="email-titles"><strong>From:</strong></p>
            <p class="email-titles">Potential Customer</p>
          </div>
          <hr class="email-hr">
          <div>
            <p>
              Hi Liz,
              <br><br>
              It was nice meeting you at the conference last week.
              I'm following up on our conversation about your team needs.
              Are you the point person for this decision or should we loop in others from your team?
              <br><br>
              Best,
              <br>
              Sarah
            </p>
          </div>
        </div>
      </div>

      <div>
        <div id="email-3" class="col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5 col-xs-8 col-xs-offset-2 emails">
          <div>
            <p class="email-titles"><strong>To:</strong></p>
            <p class="email-titles">Potential Customer</p>
            <strong><span class="draft">Draft</span></strong>
          </div>
          <div>
            <p class="email-titles"><strong>From:</strong></p>
            <p class="email-titles">You</p>
          </div>
          <hr class="email-hr">
          <div>
            <p>
              Hi Sarah,
              <br><br>
              It was nice meeting you at the conference last week.
              I'm following up on our conversation about your team needs.
              Are you the point person for this decision or should we loop in others from your team?
              <br><br>
              Best,
              <br>
              Liz
            </p>
          </div>
        </div>
      </div>

      <div id="email-img-2" class="col-md-2 col-md-offset-9 col-sm-2 col-sm-offset-9 col-xs-3 col-xs-offset-8 email-imgs">
        <img src="../public/images/Final_production_2nd_email_image.png">
      </div>


      <div>
        <div id="email-4" class="col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2 col-xs-8 col-xs-offset-1 emails">
          <div>
            <p class="email-titles"><strong>To:</strong></p>
            <p class="email-titles">You</p>
          </div>
          <div>
            <p class="email-titles"><strong>From:</strong></p>
            <p class="email-titles">Potential Customer</p>
          </div>
          <hr class="email-hr">
          <div>
            <p>
              Hi Liz,
              <br><br>
              It was nice meeting you at the conference last week.
              I'm following up on our conversation about your team needs.
              Are you the point person for this decision or should we loop in others from your team?
              <br><br>
              Best,
              <br>
              Sarah
            </p>
          </div>
        </div>
      </div>

      <div>
        <div id="email-5" class="col-md-5 col-md-offset-5 col-sm-5 col-sm-offset-5 col-xs-8 col-xs-offset-2 emails">
          <div>
            <p class="email-titles"><strong>To:</strong></p>
            <p class="email-titles">Potential Customer</p>
            <strong><span class="draft">Draft</span></strong>
          </div>
          <div>
            <p class="email-titles"><strong>From:</strong></p>
            <p class="email-titles">You</p>
          </div>
          <hr class="email-hr">
          <div>
            <p>
              Hi Sarah,
              <br><br>
              It was nice meeting you at the conference last week.
              I'm following up on our conversation about your team needs.
              Are you the point person for this decision or should we loop in others from your team?
              <br><br>
              Best,
              <br>
              Liz
            </p>
          </div>
        </div>
      </div>

      <div id="email-img-3" class="col-md-2 col-md-offset-9 col-sm-2 col-sm-offset-9 col-xs-3 col-xs-offset-8 email-imgs">
        <img src="../public/images/Final_production_2nd_email_image.png">
      </div>

    </section>

    <hr>

    <div class="container">
      <div class="text-center">
        <h2 class="sec-titles">Features</h2>
      </div>

      <div class="features row col-md-offset-2">
        <div class="col-md-4 feature-images">
          <img src="../public/images/Final_production_draft_image.png">
        </div>

        <div class="feature-text feat-right col-md-5 col-md-offset-1">
          <h3>Quick drafts</h3>

          <p>Get a draft as quick as you get an email. Kylie will draft up a response based on your past email data. Review, edit, & hit send.</p>
        </div>
      </div>

      <div class="features row col-md-offset-2">
        <div class="col-md-5 col-md-push-5 feature-images">
          <img id="feature-img" src="../public/images/Final_production_24hr_image.png">
        </div>

        <div class="feature-text feat-left col-md-5 col-md-pull-6 text-right">
          <h3>24/7 Monitoring</h3>

          <p>Just because you're off work, doesn't mean Kylie is. With 24/7 email monitoring, your emails are taken care of when busy eleswhere.</p>
        </div>
      </div>

      <div class="features row col-md-offset-2">
        <div class="col-md-4 feature-images">
          <img src="../public/images/Final_production_autopilot_image.png">
        </div>

        <div class="feature-text feat-right col-md-5 col-md-offset-1">
          <h3>Auto-pilot</h3>

          <p>Comfortable with Kylie's quality? Set her auto-pilot to allow her to automatically send email responses.</p>
        </div>
      </div>
    </div>

    <hr>

    <div class="container text-center testimonial">
      <h2 class="sec-titles">Testimonials</h2>

      <div class="row">
        <div class="text-center">
          <p>Kylie is so useful. It saved me tons of time over the last 3 months. <br class="responsive-br"/>I can't imagine going back to the old way. To answer emails with touching <br class="responsive-br"/>a keyboard or speaking a word - I could be a magician!</p>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <br>
          <h5>Jack Evans, Swift Capital</h5>
        </div>
      </div>

    </div>

    <hr>

    <center><div id="end-container" class="container">
      <div class="row">
        <h1>Rule your inbox</h1>
      </div>

      <div class="row">
        <div class="col-md-2 col-xs-6 col-md-offset-5 col-xs-offset-3">
          <img src="../public/images/Final_production_hi5_image.png">
        </div>
      </div>

      <br>

      <button type="button" id="end-btn" class="btn waves-effect waves-light waves-ripple">Start free trial</button>

    </div></center>

  </body>
</html>
