<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Kylie.ai</title>

    <!-- STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400|Open+Sans:300,400" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../public/node_modules/materialize-css/dist/css/materialize.min.css" rel="stylesheet">
    <link href="../public/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/styles/progress.css" rel="stylesheet">

    <!-- SCRIPTS -->
    <script type="text/javascript" src="../public/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../public/node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="../public/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../public/scripts/progress.js"></script>
  </head>
  <body>

      <div class="row">
        <div class="text-container">

          <p id="progress-text">
            Hi Chris,<br>Please wait while I analyze your emails.
          </p>
        </div>

          <div class="col-md-5 col-sm-7 col-xs-10 progress-container">
            <div class="progress">
              <div class="determinate" style="width: 70%"></div>
            </div>
          </div>
      </div>

  </body>
</html>
