<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Kylie.ai</title>

    <!-- STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400|Open+Sans:300,400" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../public/node_modules/materialize-css/dist/css/materialize.min.css" rel="stylesheet">
    <link href="../public/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/styles/styles.css" rel="stylesheet">
    <link href="../public/styles/forms.css" rel="stylesheet">
    <link href="../public/styles/progress.css" rel="stylesheet">

    <!-- SCRIPTS -->
    <script type="text/javascript" src="../public/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../public/node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="../public/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../public/scripts/progress.js"></script>
  </head>
  <body>

      <div class="row">
        <div class="text-container">

          <p id="progress-text">
            Hi Chris,<br>Please wait while I analyze your emails.
          </p>
        </div>

          <div class="col-md-5 col-sm-7 col-xs-10 progress-container">
            <div class="progress">
              <div class="determinate" style="width: 70%"></div>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="text-container purple-font">
          <h3 id="referral-text">
            Invite your sales team & <br> Get unlimited drafts
          </h3>
        </div>
      </div>

      <div class="row">
        <div id="referral-container" class="col-md-8 col-sm-10 col-xs-12">
          <div class="input-field col-md-3">
            <textarea id="custom-message" class="materialize-textarea"></textarea>
            <label for="custom-message">Type here to create a custom message...</label>
          </div>

          <div class="col-md-9 col-sm-9">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="col-md-4 col-sm-4 col-xs-3">
                  <div class="input-field no-margin-top">
                    <input id="name1" type="text" class="validate capture">
                    <label for="name1">Name</label>
                  </div>
                </div>

                <div class="col-md-8 col-sm-8 col-xs-9 no-padding-left">
                  <div class="input-field no-margin-top">
                    <input id="email-address1" type="text" class="validate capture email-input">
                    <label for="email-address1">Email Address</label>
                    <span class="company-email black-font" >@hubspot.com</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="col-md-4 col-sm-4 col-xs-3">
                  <div class="input-field no-margin-top">
                    <input id="name" type="text" class="validate capture">
                    <label for="name">Name</label>
                  </div>
                </div>

                <div class="col-md-8 col-sm-8 col-xs-9 no-padding-left">
                  <div class="input-field no-margin-top">
                    <input id="email-address" type="text" class="validate capture email-input">
                    <label for="email-address">Email Address</label>
                    <span class="company-email black-font" >@hubspot.com</span>
                  </div>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="col-md-4 col-sm-4 col-xs-3">
                  <div class="input-field no-margin-top">
                    <input id="name" type="text" class="validate capture">
                    <label for="name">Name</label>
                  </div>
                </div>

                <div class="col-md-8 col-sm-8 col-xs-9 no-padding-left">
                  <div class="input-field no-margin-top">
                    <input id="email-address" type="text" class="validate capture email-input">
                    <label for="email-address">Email Address</label>
                    <span class="company-email black-font" >@hubspot.com</span>
                  </div>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="col-md-4 col-sm-4 col-xs-3">
                  <div class="input-field no-margin-top">
                    <input id="name" type="text" class="validate">
                    <label for="name">Name</label>
                  </div>
                </div>

                <div class="col-md-8 col-sm-8 col-xs-9 no-padding-left">
                  <div class="input-field no-margin-top">
                    <input id="email-address" type="text" class="validate email-input">
                    <label for="email-address">Email Address</label>
                    <span class="company-email black-font" >@hubspot.com</span>
                  </div>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="col-md-4 col-sm-4 col-xs-3">
                  <div class="input-field no-margin-top">
                    <input id="name" type="text" class="validate">
                    <label for="name">Name</label>
                  </div>
                </div>

                <div class="col-md-8 col-sm-8 col-xs-9 no-padding-left">
                  <div class="input-field no-margin-top">
                    <input id="email-address" type="text" class="validate email-input">
                    <label for="email-address">Email Address</label>
                    <span class="company-email black-font" >@hubspot.com</span>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 center">
              <div class="col-md-4">
                <button type="button" id="referral-btn" class="btn waves-effect waves-light waves-ripple green-background">Invite Now</button>
              </div>

            </div>
          </div>
      </div>
    </div>


  </body>
</html>
