<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Kylie.ai</title>

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="57x57" href="../public/images/favicon.ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../public/images/favicon.ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../public/images/favicon.ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../public/images/favicon.ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../public/images/favicon.ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../public/images/favicon.ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../public/images/favicon.ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../public/images/favicon.ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../public/images/favicon.ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../public/images/favicon.ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/images/favicon.ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../public/images/favicon.ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/images/favicon.ico/favicon-16x16.png">
    <link rel="manifest" href="../public/images/favicon.ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff ">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff ">

    <!-- STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400|Open+Sans:300,400" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../public/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/node_modules/materialize-css/dist/css/materialize.min.css" rel="stylesheet">
    <link href="../public/styles/bubble_nav.css" rel="stylesheet">
    <link href="../public/styles/styles.css" rel="stylesheet">
    <link href="../public/styles/main.css" rel="stylesheet">
    <link href="../public/styles/settings.css" rel="stylesheet">

    <!-- SCRIPTS -->
    <script type="text/javascript" src="../public/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../public/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../public/node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="../public/scripts/settings.js"></script>
  </head>

  <body>
    <!-- bubble navigation -->
  <div class="row in_front">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="menu">
          <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
          <label class="menu-open-button" for="menu-open">
            <span class="hamburger hamburger-1"></span>
            <span class="hamburger hamburger-2"></span>
            <span class="hamburger hamburger-3"></span>
          </label>

          <a href="/stats.html" class="menu-item" id="statToggle"> <i class="fa fa-bar-chart"></i> </a>
          <a href="/progress.html" class="menu-item" id="homeToggle"> <i class="fa fa-home"></i> </a>
          <a href="https://twitter.com/intent/tweet?text=Just%20signed%20up%20for%20the%20early%20release%20of%20@AiKylie!%20Alan%20Turing%20would%20be%20proud%20:)%20@legionanalytics." target="_blank" class="menu-item"> <i class="fa fa-twitter"></i> </a>
          <a href="mailto:support@legionanalytics.com?subject=Support Request:Kylie.ai" target="_blank" class="menu-item"> <i class="fa fa-envelope"></i> </a>
          <a href="/settings.html" class="menu-item" id="settingsToggle"> <i class="fa fa-cog"></i> </a>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
              <filter id="shadowed-goo">

                  <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
                  <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
                  <feGaussianBlur in="goo" stdDeviation="3" result="shadow" />
                  <feColorMatrix in="shadow" mode="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 -0.2" result="shadow" />
                  <feOffset in="shadow" dx="1" dy="1" result="shadow" />
                  <feBlend in2="shadow" in="goo" result="goo" />
                  <feBlend in2="goo" in="SourceGraphic" result="mix" />
              </filter>
              <filter id="goo">
                  <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
                  <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
                  <feBlend in2="goo" in="SourceGraphic" result="mix" />
              </filter>
            </defs>
        </svg>
      </div>
  </div>
  <!-- bubble navigation -->


  <div id="nav-spy" class="col-md-2 col-sm-2 hide-on-med-and-down">
    <ul class="table-of-contents">
      <!-- <li><a href="#configuration">Configuration</a></li> -->
      <li><a href="#settings">Settings</a></li>
      <li><a href="#autopilot">- Autopilot</a></li>
      <li><a href="#your-models">- Your Models</a></li>
      <li><a href="#email-preferences">- Email Preferences</a></li>
      <li><a href="#your-calendar">- Your Calendar</a></li>
      <li><a href="#billing">- Billing</a></li>
    </ul>
  </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
    <!-- <div id="configuration" class="row text-container scrollspy">
      <h1 class="section-title">Configuration</h1>

    </div>

    <hr> -->

      <div class="text-container">
        <div id="settings" class="col-md-9 col-sm-11 scrollspy">

        <h1 class="section-title text-container">Settings</h1>

        <div class="row">
          <div id="autopilot" class="container scrollspy">
            <h4 class="setting-title">Autopilot <span id="paid-only" class="red-font">(Paid Only)</span></h4>
            <p>Set the following conversations to autopilot to allow Kylie to automatically respoond to the most repetitive of your emails</p>
            <p>Change the confidence level to adjust when Kylie is able to respond depending on her confidence of her response</p>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="switch autopilot small-margin-bottom col-md-12 col-sm-12 col-xs-12">

              <div class="col-md-2 col-sm-2 col-xs-12">
                <p disabled class="setting-text">Interested</p>
              </div>

              <div class="col-md-8 col-sm-8 col-xs-12 no-padding-right">
                <p class="range-field">
                  <input disabled type="range" class="slider" min="0" max="100" />
                  <span disabled class="green-font">| <span class="confidence-value"></span>% confidence</span>
                </p>
              </div>


              <div class="col-md-2 col-sm-2 col-xs-1">
                <label>
                  <input disabled type="checkbox">
                  <span disabled class="lever purple-border"></span>
                </label>
              </div>
            </div>

            <div class="switch autopilot small-margin-bottom col-md-12 col-sm-12 col-xs-12">

              <div class="col-md-2 col-sm-2 col-xs-12">
                <p disabled class="setting-text">Not Interested</p>
              </div>

              <div class="col-md-8 col-sm-8 col-xs-12 no-padding-right">
                <p class="range-field">
                  <input disabled type="range" class="slider" min="0" max="100" />
                  <span disabled class="green-font">| <span class="confidence-value"></span>% confidence</span>
                </p>
              </div>

              <div class="col-md-2 col-sm-2 col-xs-2">
                <label>
                  <input disabled type="checkbox">
                  <span disabled class="lever purple-border"></span>
                </label>
              </div>
            </div>

            <div class="switch autopilot small-margin-bottom col-md-12 col-sm-12 col-xs-12">

              <div class="col-md-2 col-sm-2 col-xs-12">
                <p disabled class="setting-text">Pricing</p>
              </div>

              <div class="col-md-8 col-sm-8 col-xs-12 no-padding-right">
                <p class="range-field">
                  <input disabled type="range" class="slider" min="0" max="100" />
                  <span disabled class="green-font">| <span class="confidence-value"></span>% confidence</span>
                </p>
              </div>

              <div class="col-md-2 col-sm-2 col-xs-2">
                <label>
                  <input disabled type="checkbox">
                  <span disabled class="lever purple-border"></span>
                </label>
              </div>
            </div>

            <div class="switch autopilot small-margin-bottom col-md-12 col-sm-12 col-xs-12">

              <div class="col-md-2 col-sm-2 col-xs-12">
                <p disabled class="setting-text">Trials</p>
              </div>

              <div class="col-md-8 col-sm-8 col-xs-12 no-padding-right">
                <p class="range-field">
                  <input disabled type="range" class="slider" min="0" max="100" />
                  <span disabled class="green-font">| <span class="confidence-value"></span>% confidence</span>
                </p>
              </div>

              <div class="col-md-2 col-sm-2 col-xs-2">
                <label>
                  <input disabled type="checkbox">
                  <span disabled class="lever purple-border"></span>
                </label>
              </div>
            </div>

            <div class="switch autopilot small-margin-bottom col-md-12 col-sm-12 col-xs-12">

              <div class="col-md-2 col-sm-2 col-xs-12">
                <p disabled class="setting-text">More Info</p>
              </div>

              <div class="col-md-8 col-sm-8 col-xs-12 no-padding-right">
                <p class="range-field">
                  <input disabled type="range" class="slider" min="0" max="100" />
                  <span disabled class="green-font">| <span class="confidence-value"></span>% confidence</span>
                </p>
              </div>

              <div class="col-md-2 col-sm-2 col-xs-2">
                <label>
                  <input disabled type="checkbox">
                  <span disabled class="lever purple-border"></span>
                </label>
              </div>
            </div>

            <div class="switch autopilot small-margin-bottom col-md-12 col-sm-12 col-xs-12">

              <div class="col-md-2 col-sm-2 col-xs-12">
                <p disabled class="setting-text">Set Up Calendar Invite</p>
              </div>

              <div class="col-md-8 col-sm-8 col-xs-12 no-padding-right">
                <p class="range-field">
                  <input disabled type="range" class="slider" min="0" max="100" />
                  <span disabled class="green-font">| <span class="confidence-value"></span>% confidence</span>
                </p>
              </div>

              <div class="col-md-2 col-sm-2 col-xs-2">
                <label>
                  <input disabled type="checkbox">
                  <span disabled class="lever purple-border"></span>
                </label>
              </div>
            </div>
          </div>

        </div>

        <hr>

        <div class="row">
          <div id="your-models" class="container scrollspy">
            <h4 class="setting-title">Your Models</h4>
            <p>In the following models you have spoken in unique ways and answered similar and different questions across different jobs. Models are ways for you to control how I respond to future emails. Want me to respond based only on how you've answered emails in your current job? Only turn on your latest model. Want me to use all my knowledge about how you sell? Turn on all the following models.</p>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="container">
            <div class="switch col-md-12 col-sm-12 col-xs-12 small-margin-top medium-margin-bottom">

              <div class="col-md-10 col-sm-10 col-xs-12">
                <p class="setting-text">Model 1 <span class="purple-font">(jrodri25@jhu.edu)</span></p>
              </div>

              <div class="col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-0 col-xs-2 col-xs-offset-3">
                <label>
                  <input type="checkbox">
                  <span class="lever purple-border"></span>
                </label>
              </div>
            </div>

            <!-- <div class="switch col-md-12 col-sm-12 col-xs-12 medium-margin-bottom">

              <div class="col-md-10 col-sm-10 col-xs-10">
                <p class="setting-text">Model 2 <span class="purple-font">(jamasen@jamacocoa.com)</span></p>
              </div>

              <div class="col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-0 col-xs-2 col-xs-offset-3">
                <label>
                  <input type="checkbox">
                  <span class="lever purple-border"></span>
                </label>
              </div>
            </div>

            <div class="switch col-md-12 col-sm-12 col-xs-12 small-margin-bottom">

              <div class="col-md-10 col-sm-10 col-xs-10">
                <p class="setting-text">Model 3 <span class="purple-font">(jamasen@legionanalytics.com)</span></p>
              </div>

              <div class="col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-0 col-xs-2 col-xs-offset-3">
                <label>
                  <input type="checkbox">
                  <span class="lever purple-border"></span>
                </label>
              </div>
            </div> -->
          </div>
        </div>

        <hr>

        <div class="row">
          <div id="email-preferences" class="container scrollspy">
            <h4 class="setting-title">Email Preferences</h4>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="container">
            <div class="switch col-md-12 col-sm-12 col-xs-12 small-margin-top medium-margin-bottom">

              <div class="col-md-10 col-sm-10 col-xs-12">
                <p class="setting-text">Weekly Stats</p>
              </div>

              <div class="col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-0 col-xs-2 col-xs-offset-3">
                <label>
                  <input type="checkbox">
                  <span class="lever purple-border"></span>
                </label>
              </div>
            </div>

            <div class="switch col-md-12 col-sm-12 col-xs-12 medium-margin-bottom">

              <div class="col-md-10 col-sm-10 col-xs-12">
                <p class="setting-text">Monthly Reports</p>
              </div>

              <div class="col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-0 col-xs-2 col-xs-offset-3">
                <label>
                  <input type="checkbox">
                  <span class="lever purple-border"></span>
                </label>
              </div>
            </div>

            <div class="switch col-md-12 col-sm-12 col-xs-12 medium-margin-bottom">

              <div class="col-md-10 col-sm-10 col-xs-12">
                <p class="setting-text">Educational</p>
              </div>

              <div class="col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-0 col-xs-2 col-xs-offset-3">
                <label>
                  <input type="checkbox">
                  <span class="lever purple-border"></span>
                </label>
              </div>
            </div>

            <div class="switch col-md-12 col-sm-12 col-xs-12 small-margin-bottom">

              <div class="col-md-10 col-sm-10 col-xs-12">
                <p class="setting-text">Promotional</p>
              </div>

              <div class="col-md-2 col-md-offset-0 col-sm-2 col-sm-offset-0 col-xs-2 col-xs-offset-3">
                <label>
                  <input type="checkbox">
                  <span class="lever purple-border"></span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="row">
          <div id="your-calendar" class="container scrollspy">
            <h4 class="setting-title">Your Calendar</h4>
            <p>Do you have a calendar link where recipitents can book a time with you? Add your unique link below and Kylie will use it in future drafts!</p>

            <div class="col-md-12 col-sm-12 col-xs-12 no-padding-left small-margin-top">
              <div class="col-md-5 col-sm-5 col-xs-12 no-padding-left">
                <div class="input-field no-margin-top">
                  <input id="new-calendar-link" type="text" class="validate">
                  <label for="new-calendar-link"></label>
                </div>
              </div>
              <div class="col-md-1 col-sm-1 col-xs-12 no-padding-left">
                <button type="button" id="calendar-btn" class="btn waves-effect waves-light waves-ripple">Add Link</button>
              </div>

              <div class="col-md-5 col-sm-4 col-sm-offset-1 col-xs-12">
                <p id="calendar-text">or  <a href="" class="green-font">Create a calendar link</a></p>
              </div>
            </div>


            <p>Your current calendar: <a href="" class="green-font">https://calendly.com/jamasenr</a>
          </div>
        </div>

        <hr>

        <!-- <div class="row">
          <div id="billing" class="container scrollspy">
            <h4 class="setting-title">Billing</h4>
            <div class="col-md-6 col-sm-6 col-xs-12 no-padding-left small-margin-top">
              <form id="billing-form">
                <div class="input-field no-margin-top">
                  <input id="name-on-card" type="text" class="validate">
                  <label for="name-on-card">Name On Card</label>
                </div>
                <div class="input-field no-margin-top">
                  <input id="card-number" type="text" class="validate">
                  <label for="card-number">Card Number</label>
                </div>

                <div class="row no-margin-bottom">
                  <div class="input-field no-margin-top no-margin-bottom col-md-4 col-xs-4">
                    <input id="expiration-month" type="text" class="validate">
                    <label class="billing-info" for="expiration-month">Month</label>
                  </div>
                  <div class="input-field no-margin-top no-margin-bottom col-md-4 col-xs-4">
                    <input id="expiration-year" type="text" class="validate">
                    <label class="billing-info" for="expiration-year">Year</label>
                  </div>
                  <div class="input-field no-margin-top no-margin-bottom col-md-4 col-xs-4">
                    <input id="cvv-code" type="text" class="validate">
                    <label class="billing-info" for="cvv-code">CVV</label>
                  </div>
                </div>

                <div class="input-field no-margin-top">
                  <input id="address-1" type="text" class="validate">
                  <label for="address-1">Address Line 1</label>
                </div>
                <div class="input-field no-margin-top">
                  <input id="address-2" type="text" class="validate">
                  <label for="address-2">Address Line 2</label>
                </div>
                <div class="input-field no-margin-top">
                  <input id="zip-code" type="text" class="validate">
                  <label for="zip-code">Zip Code</label>
                </div>

                <button type="button" id="billing-form-btn" class="btn waves-effect waves-light waves-ripple">Add Card</button>
              </form>
            </div>

            <div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-1 small-margin-top">
              <div class="col-md-12 col-sm-12 col-xs-12 no-padding-right">
                <div class="container medium-margin-bottom">
                  <p class="no-margins">Your current card on file: </p>
                  <span class="purple-font">XXXX XXXX XXXX 3147</span>
                </div>

                <div class="container medium-margin-bottom">
                  <p class="no-margins">Your current plan:</p>
                  <span class="span-text">Free</span>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 no-padding-right">
                <div class="container medium-margin-bottom no-padding-right">
                  <p class="no-margins">Invoices:</p>
                  <a class="green-font span-text" href="#">Invoice 08/11/16</a>
                  <a class="green-font span-text" href="#">Invoice 07/11/16</a>
                  <a class="green-font span-text" href="#">Invoice 06/11/16</a>
                  <a class="green-font span-text" href="#">Invoice 05/11/16</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr> -->

      </div>

      </div>
  </div>

  </body>
</html>
