<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Kylie.ai</title>

    <!-- STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400|Open+Sans:300,400" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../public/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/node_modules/materialize-css/dist/css/materialize.min.css" rel="stylesheet">
    <link href="../public/styles/main.css" rel="stylesheet">
    <link href="../public/styles/settings.css" rel="stylesheet">

    <!-- SCRIPTS -->
    <script type="text/javascript" src="../public/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../public/node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="../public/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../public/scripts/settings.js"></script>
  </head>

  <body>
  <div class="container">
    <div class="col-md-12">
    <div class="row text-container">
      <h1 class="section-title">Configuration</h1>

    </div>

    <hr>

      <div class="container text-container">
        <div class="col-md-8">

        <h1 class="section-title text-container">Settings</h1>

        <div class="row">
          <div class="container">
            <h4 class="setting-title">Auto-Pilot</h4>
            <p>Set the following conversations to autopilot to allow Kylie to automatically respoond to the most repetitive of your emails</p>
            <p>Change the confidence level to adjust when Kylie is able to respond depending on her confidence of her response</p>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="container">

          <div class="col-md-12">
            <div class="switch small-margin-bottom col-md-12">

              <div class="col-md-3">
                <p class="setting-text">Interested</p>
              </div>

              <div class="col-md-4">
                <p class="range-field">
                  <input type="range" class="slider" min="0" max="100" />
                </p>
              </div>

              <div class="col-md-2">
                <p>
                  | % confidence
                </p>
              </div>

              <div class="col-md-3">
                <label>
                  Off
                  <input type="checkbox">
                  <span class="lever"></span>
                  On
                </label>
              </div>
            </div>

            <div class="switch small-margin-bottom col-md-12">

              <div class="col-md-3">
                <p class="setting-text">Not Interested</p>
              </div>

              <div class="col-md-6">
                <p class="range-field">
                  <input type="range" class="slider" min="0" max="100" />
                </p>
              </div>

              <div class="col-md-3">
                <label>
                  Off
                  <input type="checkbox">
                  <span class="lever"></span>
                  On
                </label>
              </div>
            </div>

            <div class="switch small-margin-bottom col-md-12">

              <div class="col-md-3">
                <p class="setting-text">Pricing</p>
              </div>

              <div class="col-md-6">
                <p class="range-field">
                  <input type="range" class="slider" min="0" max="100" />
                </p>
              </div>

              <div class="col-md-3">
                <label>
                  Off
                  <input type="checkbox">
                  <span class="lever"></span>
                  On
                </label>
              </div>
            </div>

            <div class="switch small-margin-bottom col-md-12">

              <div class="col-md-3">
                <p class="setting-text">Trials</p>
              </div>

              <div class="col-md-6">
                <p class="range-field">
                  <input type="range" class="slider" min="0" max="100" />
                </p>
              </div>

              <div class="col-md-3">
                <label>
                  Off
                  <input type="checkbox">
                  <span class="lever"></span>
                  On
                </label>
              </div>
            </div>

            <div class="switch small-margin-bottom col-md-12">

              <div class="col-md-3">
                <p class="setting-text">More Info</p>
              </div>

              <div class="col-md-6">
                <p class="range-field">
                  <input type="range" class="slider" min="0" max="100" />
                </p>
              </div>

              <div class="col-md-3">
                <label>
                  Off
                  <input type="checkbox">
                  <span class="lever"></span>
                  On
                </label>
              </div>
            </div>

            <div class="switch small-margin-bottom col-md-12">

              <div class="col-md-3">
                <p class="setting-text">Set Up Calendar Invite</p>
              </div>

              <div class="col-md-6">
                <p class="range-field">
                  <input type="range" class="slider" min="0" max="100" />
                </p>
              </div>

              <div class="col-md-3">
                <label>
                  Off
                  <input type="checkbox">
                  <span class="lever"></span>
                  On
                </label>
              </div>
            </div>
          </div>
        </div>

        </div>

        <hr>

        <div class="row">
          <div class="container">
            <h4 class="setting-title">Your Models</h4>
            <p>In the following models you have spoken in unique ways and answered similar and different questions across different jobs. Models are ways for you to control how I respond to future emails. Want me to respond based only on how you've answered emails in your current job? Only turn on your latest model. Want me to use all my knowledge about how you sell? Turn on all the following models.</p>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="container">
            <div class="switch col-md-12">

              <div class="col-md-9">
                <p class="setting-text">Model 1 <span class="green-font">(jrodri25@jhu.edu)</span></p>
              </div>

              <div class="col-md-3">
                <label>
                  Off
                  <input type="checkbox">
                  <span class="lever"></span>
                  On
                </label>
              </div>
            </div>

            <div class="switch col-md-12">

              <div class="col-md-9">
                <p class="setting-text">Model 2 <span class="green-font">(jamasen@jamacocoa.com)</span></p>
              </div>

              <div class="col-md-3">
                <label>
                  Off
                  <input type="checkbox">
                  <span class="lever"></span>
                  On
                </label>
              </div>
            </div>

            <div class="switch col-md-12">

              <div class="col-md-9">
                <p class="setting-text">Model 3 <span class="green-font">(jamasen@legionanalytics.com)</span></p>
              </div>

              <div class="col-md-3">
                <label>
                  Off
                  <input type="checkbox">
                  <span class="lever"></span>
                  On
                </label>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="container">
            <h4 class="setting-title">Your Calendar</h4>
            <p>Do you have acalendar link where recipitents can book a time with you? Add your unique link below and Kylie will use it in future drafts!</p>

            <div class="col-md-12">
            <div class="col-md-6">
              <div class="input-field">
                <input id="name-on-card" type="text" class="validate">
                <label for="name-on-card">Name On Card</label>
              </div>
            </div>

            <div class="col-md-6">
              <p>or <span class="green-font">Create a calendar link</span></p>
            </div>
          </div>


            <p>Your current calendar: <span class="green-font">https://calendly.com/jamasenr</span>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="container">
            <h4 class="setting-title">Billing</h4>
            <div class="col-md-6">
              <div class="input-field">
                <input id="name-on-card" type="text" class="validate">
                <label for="name-on-card">Name On Card</label>
              </div>
              <div class="input-field">
                <input id="card-number" type="text" class="validate">
                <label for="card-number">Card Number</label>
              </div>
              <div class="input-field">
                <input id="address-1" type="text" class="validate">
                <label for="address-1">Address Line 1</label>
              </div>
              <div class="input-field">
                <input id="address-2" type="text" class="validate">
                <label for="address-2">Address Line 2</label>
              </div>
              <div class="input-field">
                <input id="zip-code" type="text" class="validate">
                <label for="zip-code">Zip Code</label>
              </div>

              <button type="button" id="form-1-btn" class="btn waves-effect waves-light waves-ripple">Add Card</button>

            </div>
            <div class="col-md-5 col-md-offset-1">
              <div class="container small-margin-bottom">
                <p class="no-margins">Your current card on file: </p>
                <span class="purple-font">XXXX XXXX XXXX 3147</span>
              </div>

              <div class="container small-margin-bottom">
                <p class="no-margins">Your current plan:</p>
                <span class="span-text">Free</span>
              </div>

              <div class="container small-margin-bottom">
                <p class="no-margins">Invoices:</p>
                <a class="green-font span-text" href="#">Invoice 08/11/16</a>
                <a class="green-font span-text" href="#">Invoice 07/11/16</a>
                <a class="green-font span-text" href="#">Invoice 06/11/16</a>
                <a class="green-font span-text" href="#">Invoice 05/11/16</a>
              </div>
            </div>
          </div>
        </div>

        <hr>

      </div>

      </div>
  </div>

  </div>

  </body>
</html>
