<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Kylie.ai</title>

    <!-- STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400|Open+Sans:300,400" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../public/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/styles/styles.css" rel="stylesheet">
    <link href="../public/styles/main.css" rel="stylesheet">
    <link href="../public/styles/connect.css" rel="stylesheet">

    <!-- SCRIPTS -->
    <script type="text/javascript" src="../public/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../public/node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="../public/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row text-center col-md-6 col-sm-8 col-xs-12">
        <h2 id="connect-title">Hey, welcome back!</h2>

        <div id="connect-button col-xs-12">
          <button type="button" id="intro-btn" class="btn waves-effect waves-light waves-ripple waves-purple">Sign In With Your Gmail</button>
        </div>

      </div>
    </div>
  </body>
</html>
