<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Kylie.ai</title>

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="57x57" href="../public/images/favicon.ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../public/images/favicon.ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../public/images/favicon.ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../public/images/favicon.ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../public/images/favicon.ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../public/images/favicon.ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../public/images/favicon.ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../public/images/favicon.ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../public/images/favicon.ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../public/images/favicon.ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/images/favicon.ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../public/images/favicon.ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/images/favicon.ico/favicon-16x16.png">
    <link rel="manifest" href="../public/images/favicon.ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff ">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff ">

    <!-- STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400|Open+Sans:300,400" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../public/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/styles/main.css" rel="stylesheet">
    <link href="../public/styles/waitlist.css" rel="stylesheet">

    <!-- SCRIPTS -->
    <script type="text/javascript" src="../public/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../public/node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="../public/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../public/scripts/waitlist.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row text-center">
        <h2 id="waitlist-title">Thanks, John!</h2>

        <p>It's a pleasure to meet you! <br class="responsive-br"/>Unfortunately, I'm only able to help out sales people at this time. <br class="responsive-br"/>I'll be sure to reach out to you once my capabilities have expanded.</p>

        <p id="waitlist-text">
          You are <br><span id="waitlist">10,340</span> <br>on my waitlist.
        </p>

        <div class="col-md-4 img-responsive waitlist-image">
          <img src="../public/images/Final_production_autopilot_image.png">
        </div>
      </div>
    </div>

  </body>
</html>
