<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Kylie.ai</title>

  <!-- FAVICON -->
  <link rel="apple-touch-icon" sizes="57x57" href="../../public/images/favicon.ico/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../../public/images/favicon.ico/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../../public/images/favicon.ico/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../../public/images/favicon.ico/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../../public/images/favicon.ico/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../../public/images/favicon.ico/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../../public/images/favicon.ico/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../../public/images/favicon.ico/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../../public/images/favicon.ico/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="../../public/images/favicon.ico/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../public/images/favicon.ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../../public/images/favicon.ico/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../public/images/favicon.ico/favicon-16x16.png">
  <link rel="manifest" href="../../public/images/favicon.ico/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff ">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff ">

  <!-- STYLES -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400|Open+Sans:300,400,500" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="../../node_modules/materialize-css/dist/css/materialize.css" rel="stylesheet">
  <link href="../styles/forms.css" rel="stylesheet">
  <link href="../styles/buttons.css" rel="stylesheet">
  <link href="../styles/styles.css" rel="stylesheet">
  <link href="../styles/index.css" rel="stylesheet">

  <!-- SCRIPTS -->
  <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="../../node_modules/materialize-css/dist/js/materialize.min.js"></script>
  <script type="text/javascript" src="../scripts/index.js"></script>

</head>

<body>
  <!-- NAVBAR  -->
  <div class="nav-bar">
    <a class="nav nav-list" href="./index.html">
      <img class="nav-logo" src="../../public/images/favicon.ico/favicon-96x96.png" />
      <span class="nav-title"> Kylie.ai<span>
    </a>
    <ul class="nav nav-list">
      <li><a class="black-font">How it works</a></li>
      <li><a class="black-font">Features</a></li>
      <li><a class="black-font">Integrations</a></li>
      <li><a class="black-font">Security</a></li>
      <li><a class="black-font">FAQ</a></li>
      <li><a class="btn waves-effect waves-light waves-ripple">Request Demo</a></li>
    </ul>
  </div>

  <div class="page-container">

    <!-- INTRO MESSAGE AND HERO IMAGE  -->
    <div id="intro-container" class="row">
      <div class="col s12 m12 l12">
        <div id="intro-image" class="col m5 l5 push-s5 push-l5">
          <img src="../../public/images/Final_production_hero_image.png">
        </div>

        <div id="intro-message" class="col m7 pull-m7 l7 pull-l7 s12">
          <h3 class="intro-text">Customer Support, Solved!</h3>
          <h6 class="intro-text">Adopt Kylie to automate your customer <br class="responsive-br"/> service conversations with your brand voice</h6>

          <button data-target="demo-form" type="button" id="intro-btn" class="welcome-btn btn waves-effect waves-light waves-ripple">Request a demo</button>
        </div>
      </div>
    </div>
  </div>


    <!-- INTRO BAR  -->
    <div id="intro-bar-container" class="row light-grey-background">
      <div class="col s12 m12 l12">
        <div>
          <h3>Connect</h3>
          <p>Identify accurate contact information for multiple roles at your key accounts</p>
        </div>
        <div>
          <h3>Connect</h3>
          <p>Identify accurate contact information for multiple roles at your key accounts</p>
        </div>
        <div>
          <h3>Connect</h3>
          <p>Identify accurate contact information for multiple roles at your key accounts</p>
        </div>
        <div>
          <h3>Connect</h3>
          <p>Identify accurate contact information for multiple roles at your key accounts</p>
        </div>
      </div>
    </div>

    <!-- FEATURES -->
    <div id="features-container" class="container">
      <div class="features row">
        <div class="col m6 l6 feature-images">
          <img src="../../public/images/Final_production_draft_image.png">
        </div>

        <div class="feature-text feat-right col m6 l6">
          <h3>Quick drafts</h3>

          <p>Get a draft as quick as you get an email. Kylie will draft up a response based on your past email data. Review, edit, & hit send.</p>
        </div>
      </div>

      <div class="features row">
        <div class="col m6 l6 push-m6 push-l6 feature-images">
          <img id="feature-img" src="../../public/images/Final_production_24hr_image.png">
        </div>

        <div class="feature-text feat-left col m6 l6 pull-m6 pull-l6 text-right">
          <h3>24/7 Monitoring</h3>

          <p>Just because you're off work, doesn't mean Kylie is. With 24/7 email monitoring, your emails are taken care of.</p>
        </div>
      </div>

      <div class="features row">
        <div class="col m6 l6 feature-images">
          <img src="../../public/images/Final_production_autopilot_image.png">
        </div>

        <div class="feature-text feat-right col m6 l6">
          <h3>Scale Personal</h3>

          <p>Comfortable with Kylie's quality? Set her to autopilot and she'll automatically send email responses.</p>
        </div>
      </div>
    </div>

  <!-- INTEGRATIONS  -->
  <div id="integrations-container" class="row light-grey-background">
    <div class="col s12 m12 l12">
      <h3>Some of our popular integrations</h3>

    </div>
  </div>

  <!-- SECURITY  -->
  <div id="security-container" class="row">
    <div class="col s12 m12 l12">
      <div>
        <img src="../../public/images/Final_production_hi5_image.png">
        <h3>Words</h3>
        <p>Identify accurate contact information for multiple roles at your key accounts</p>
      </div>
      <div>
        <img src="../../public/images/Final_production_hi5_image.png">
        <h3>Words</h3>
        <p>Identify accurate contact information for multiple roles at your key accounts</p>
      </div>
      <div>
        <img src="../../public/images/Final_production_hi5_image.png">
        <h3>Words</h3>
        <p>Identify accurate contact information for multiple roles at your key accounts</p>
      </div>
    </div>
  </div>

  <!-- DEMO REQUEST FORM  -->
  <div id="demo-request-container" class="row dark-grey-background">
    <div class="col s12 m6 l6">
      <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="col s12 m6 l6">
      <div class="input-field">
        <input id="name" type="text" name="name" class="validate" placeholder="Name" required>
      </div>
      <div class="input-field">
        <input id="email" type="text" name="email" class="validate" placeholder="Email Address" required>
      </div>
      <div class="input-field">
        <input id="phone-number" type="text" name="phone-number" class="validate" placeholder="Phone Number" required>
      </div>
      <div class="input-field">
        <input id="company-name" type="text" name="company-name" class="validate" placeholder="Company Name" required>
      </div>
      <div class="input-field">
        <select required>
          <option value="" disabled selected>Choose your platform</option>
          <option value="Salesforce">Salesforce</option>
          <option value="Zendesk">Zendesk</option>
          <option value="Sparkcentral">Sparkcentral</option>
          <option value="Desk">Desk</option>
          <option value="Oracle">Oracle</option>
          <option value="Verint / Kana">Verint / Kana</option>
          <option value="Conversocial">Conversocial</option>
          <option value="Lithium">Lithium</option>
          <option value="Freshdesk">Freshdesk</option>
          <option value="Avaya">Avaya</option>
          <option value="SAP">SAP</option>
          <option value="Microsoft">Microsoft</option>
          <option value="Genesys">Genesys</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <div class="input-field">
        <select required>
          <option value="" disabled selected>Choose your team size</option>
          <option value="1-10">1-10</option>
          <option value="11-50">11-50</option>
          <option value="51-100">51-100</option>
          <option value="101-300">101-300</option>
          <option value="301-500">301-500</option>
          <option value="501-1000">501-1000</option>
          <option value="1001-3000">1001-3000</option>
          <option value="3000+">3000+</option>
        </select>
      </div>
      <div class="btns">
        <button type="button" class="btn waves-effect waves-light waves-ripple modal-close">Request Demo</button>
      </div>
    </div>
  </div>

  <!-- REQUEST DEMO MODAL -->
  <div id="demo-form" class="modal">
    <div class="modal-content">
      <h3>Tell us about yourself!</h3>

      <div class="input-field">
        <input id="name" type="text" name="name" class="validate" placeholder="Name" required>
      </div>
      <div class="input-field">
        <input id="email" type="text" name="email" class="validate" placeholder="Email Address" required>
      </div>
      <div class="input-field">
        <input id="phone-number" type="text" name="phone-number" class="validate" placeholder="Phone Number" required>
      </div>
      <div class="input-field">
        <input id="company-name" type="text" name="company-name" class="validate" placeholder="Company Name" required>
      </div>
      <div class="input-field">
        <select required>
          <option value="" disabled selected>Choose your platform</option>
          <option value="Salesforce">Salesforce</option>
          <option value="Zendesk">Zendesk</option>
          <option value="Sparkcentral">Sparkcentral</option>
          <option value="Desk">Desk</option>
          <option value="Oracle">Oracle</option>
          <option value="Verint / Kana">Verint / Kana</option>
          <option value="Conversocial">Conversocial</option>
          <option value="Lithium">Lithium</option>
          <option value="Freshdesk">Freshdesk</option>
          <option value="Avaya">Avaya</option>
          <option value="SAP">SAP</option>
          <option value="Microsoft">Microsoft</option>
          <option value="Genesys">Genesys</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <div class="input-field">
        <select required>
          <option value="" disabled selected>Choose your team size</option>
          <option value="1-10">1-10</option>
          <option value="11-50">11-50</option>
          <option value="51-100">51-100</option>
          <option value="101-300">101-300</option>
          <option value="301-500">301-500</option>
          <option value="501-1000">501-1000</option>
          <option value="1001-3000">1001-3000</option>
          <option value="3000+">3000+</option>
        </select>
      </div>
      <div class="btns">
        <button type="button" class="btn waves-effect waves-light waves-ripple modal-close">Request Demo</button>
      </div>
    </div>
  </div>

  <center><footer id="footer-container" class="medium-padding-top">
    <img src="../../public/images/Final_production_hi5_image.png">

    <div class="col-md-6">
      <a class="green-font" href=“https://www.legionanalytics.com/tos/”>Terms of Service</a>
    </div>
    <div class="col-md-4">

      Copyright © 2016-2017 Tier5International, Inc.
    </div>
  </footer></center>

</body>
</html>
