<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Kylie.ai</title>

  <!-- FAVICON -->
  <link rel="apple-touch-icon" sizes="57x57" href="../images/favicon.ico/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../images/favicon.ico/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../images/favicon.ico/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../images/favicon.ico/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../images/favicon.ico/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../images/favicon.ico/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../images/favicon.ico/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../images/favicon.ico/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../images/favicon.ico/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="../images/favicon.ico/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../images/favicon.ico/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon.ico/favicon-16x16.png">
  <link rel="manifest" href="../images/favicon.ico/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff ">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff ">

  <!-- SCRIPTS -->
  <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="../../node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
  <script type="text/javascript" src="../scripts/index.js"></script>

</head>

<body>

    <form class="demo-form col s12 m4 l4 offset-m1 offset-l1">
      <div class="input-field">
        <select id="platform" name="platform" required>
          <option value="">Choose your platform*</option>
          <option value="Salesforce">Salesforce</option>
          <option value="Zendesk">Zendesk</option>
          <option value="Sparkcentral">Sparkcentral</option>
          <option value="Desk">Desk</option>
          <option value="Oracle">Oracle</option>
          <option value="Verint / Kana">Verint / Kana</option>
          <option value="Conversocial">Conversocial</option>
          <option value="Lithium">Lithium</option>
          <option value="Freshdesk">Freshdesk</option>
          <option value="Avaya">Avaya</option>
          <option value="SAP">SAP</option>
          <option value="Microsoft">Microsoft</option>
          <option value="Genesys">Genesys</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <div class="input-field">
        <select id="team-size" name="team-size" required>
          <option value="">Choose your team size*</option>
          <option value="1-10">1-10</option>
          <option value="11-50">11-50</option>
          <option value="51-100">51-100</option>
          <option value="101-300">101-300</option>
          <option value="301-500">301-500</option>
          <option value="501-1000">501-1000</option>
          <option value="1001-3000">1001-3000</option>
          <option value="3000+">3000+</option>
        </select>
      </div>
      <div class="btns">
        <button type="submit" class="btn waves-effect waves-light waves-ripple modal-close">Request Demo</button>
      </div>
    </form>
  </div>

</body>
</html>
