@import url("../buttons.css");
@import url("../styles.css");
@import url("../forms.css");
@import url("../side-nav.css");

/* GENERAL STYLING */

body {
  background-color: #fefdfb;
  font-family: 'Merriweather', garamond, serif;
}

/*DASH-VIEW*/

#dash-view {
  display: inline-flex;
  flex-direction: column;
  padding: 2vh 5vw;
}

.dash-title {
  display: flex;
  flex-direction: row;
  margin-bottom: 1vw;
}

/*SETTINGS*/

#settings-container {
  display: flex;
  flex-direction: row;
}

.settings-options, .settings-controller, .settings-editor {
  font-family: 'Open Sans', helvetica, sans-serif;
  font-weight: 300;
  margin-right: 3vw;
}

.settings-controller, .settings-editor {
  width: 35vw;
  padding: 0.4vw 1vw;
}

.settings-options h5 {
  margin: 0 0 2vw 0;
  font-weight: 300;
  cursor: pointer;
  color: black;
}

.settings-header p {
  margin: 0;
}

.settings-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid #ECECEC;
  margin-bottom: 1vw;
}

.settings-header div {
  display: inline-flex;
  flex-direction: row;
  padding-bottom: 1vh;
}

.settings-header div input {
  border: 1px solid #ECECEC;
  height: 100%;
  width: 30%;
  text-align: center;
  margin: 0;
}

.settings-header div p {
  margin-left: 1vw;
  cursor: pointer;
}

#controller-cards {
  overflow-y: scroll;
  height: 60vh;
}

#controller-cards div {
  margin: 1vh 0;
}

[type="checkbox"] + label:before, [type="checkbox"]:not(.filled-in) + label:after {
  border: 1px solid #28c3b5;
}

[type="checkbox"]:checked + label:before {
  border-right-color: #28c3b5;
  border-bottom-color: #28c3b5;
}

.modal .modal-content  label {
  position: relative;
  color: #fb615d;
  top: 0;
  left:0;
}

#saved-notification {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  float: right;
  width: 15%;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-weight: 300;
  padding: 1vh;
}

#saved-notification p {
  margin: 0;
  color: white;
}

.active-flex {
  display: flex !important;
}
