@import url("../buttons.css");
@import url("../styles.css");
@import url("../forms.css");
@import url("../side-nav.css");

/* GENERAL STYLING */

body {
  background-color: #fefdfb;
  font-family: 'Merriweather', garamond, serif;
}

/*DASH-VIEW*/

#dash-view {
  display: inline-flex;
  flex-direction: column;
  padding: 2vh 5vw;
}

.dash-title {
  display: flex;
  flex-direction: row;
  margin-bottom: 1vw;
}

/*SETTINGS*/

#settings-container {
  display: flex;
  flex-direction: row;
}

.settings-options, .settings-controller, .settings-editor {
  font-family: 'Open Sans', helvetica, sans-serif;
  font-weight: 300;
  margin-right: 3vw;
}

.settings-controller, .settings-editor {
  width: 35vw;
  padding: 0.4vw 1vw;
}

.settings-options h5 {
  margin: 0 0 2vw 0;
  font-weight: 300;
  cursor: pointer;
  color: black;
}

.settings-header p {
  margin: 0;
}

.settings-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid #ECECEC;
  margin-bottom: 1vw;
}

.settings-header div {
  display: inline-flex;
  flex-direction: row;
  padding-bottom: 1vh;
}

.settings-header div input {
  border: 1px solid #ECECEC;
  height: 100%;
  width: 30%;
  text-align: center;
  margin: 0;
}

.settings-header div p {
  margin-left: 1vw;
  cursor: pointer;
}

#security-fields {
  overflow-y: scroll;
  height: 60vh;
}

#security-fields form {
  display: flex;
  flex-direction: column;
}

#security-fields .input-field {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#security-fields input {
  margin: 0;
  height: 2em;
  border-color: #28c3b5;
}

#security-fields label {
  position: relative;
  color: #fb615d;
  top: 0;
  left:0;
}

#security-fields input, #security-fields button {
  margin-right: 1vw;
}

#security-fields .btns .btn {
  height: 32px;
  line-height: 32px;
}

.controller-card {
  margin-bottom: 1vw;
  padding: 0.5vw;
}

.controller-card:hover {
  background-color: #ECECEC;
}

.active-card {
  background-color: #ECECEC;
}

.controller-title {
  margin-top: 0;
}

.controller-description {
  margin-left: 2vw;
  font-size: 0.9em;
}

.description-title {
  font-weight: 500;
}

#editor-options {
  display: flex;
  flex-direction: column;
}

#editor-options .input-field label{
  height: 2em;
}

#saved-notification {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  float: right;
  width: 15%;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-weight: 300;
  padding: 1vh;
}

#saved-notification p {
  margin: 0;
  color: white;
}

.active-flex {
  display: flex !important;
}

.medium-margin-top {
  margin-top: 2vh;
}

.tooltipped i {
  color: black;
  font-size: 0.8em;
}

.material-tooltip {
  height: initial;
  width: 10vw;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  text-align: left;
}
