@import url("../buttons.css");
@import url("../styles.css");
@import url("../forms.css");
@import url("../dashboard/side-nav.css");

/* GENERAL STYLING */

body {
  background-color: #fefdfb;
  font-family: 'Merriweather', garamond, serif;
}

/*DASH-VIEW*/

#dash-view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2vh 5vw;
  height: 90vh;
}

#topics-container {
  padding: 2vh 2vw;
  box-shadow: 5px 5px 5px 0px #ECECEC;
  border: 1px solid #ECECEC;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-weight: 300;
}

#topics-container h4 {
  font-weight: 300;
  text-align: center;
}

#topics-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
}

#topics-form img {
  width: 12.5%;
  margin: 4vh 0;
}

#topics-form .input-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}

#topics-form input, p {
  margin: 0;
}

#topics-form input {
  height: 2em;
  width: 160%;
  border-color: #28c3b5;
}

#topics-form button {
  border-radius: 50px;
  padding: 0 2.5em;
  font-size: 1.3em;
}

#topics-skip {
  display: flex;
  align-items: center;
  float: right;
  cursor: pointer;
}

#topics-skip i {
  font-size: 2em;
  font-weight: 200;
  margin-left: 10px;
}
