@import url("../buttons.css");
@import url("../styles.css");
@import url("../forms.css");
@import url("../side-nav.css");

/* GENERAL STYLING */

body, p {
  background-color: #fefdfb;
  font-family: 'Merriweather', garamond, serif;
}

/*DASH-VIEW*/

#dash-view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2vh 5vw;
  height: 90vh;
}

#assignment-form {
  padding: 2vh 1vw;
  box-shadow: 5px 5px 5px 0px #ECECEC;
  border: 1px solid #ECECEC;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-weight: 300;
}

#assignment-container {
  padding: 0 7vw;
}

#assignment-container h4 {
  margin-bottom: 0;
}

#assignment-container h4, #assignment-container p {
  font-weight: 300;
  text-align: center;
}

#assignment-search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 1vw;
}

#assignment-search-bar div:first-of-type {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#assignment-search-bar i {
  cursor: pointer;
  font-size: 1em;
  margin-left: 1vw;
}

#agent-search {
  margin: 0 0 0 1em;
  height: 1.3em;
}

#assignment-switch-container {
  height: 30vh;
  overflow: scroll;
  padding: 1vw;
  margin-bottom: 5vh;
}

.assignment-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.assignment-row p {
  margin: 1vh 0;
  font-size: 1em;
}

#assignment-form .btns {
  float: right;
}

.hide {
  display: none !important;
}
