.container{
  padding-top: 4em;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}

p {
  font-family: 'Open Sans', helvetica, sans-serif;
  font-size: 2em;
}

#connect-title {
  margin-bottom: 0.5em;
}

#connect-text {
  margin: 1em auto;
}

.btn {
  font-family: 'Open Sans', helvetica, sans-serif;
  font-weight: 300;
  background-color: #e5ddfb;
  border: 3px solid #7f5dfc;
  color: #7f5dfc;
  border-radius: 50px;
  padding: .5em 0;
  margin: auto 0;
  width: 100%;
  outline:0;
}
