body {
  font-family: 'Merriweather', garamond, serif;
}

p {
  color: #647382;
}

#nav-spy {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

.section-title {
  font-family: 'Open Sans', helvetica, sans-serif;
  font-weight: 300;
}

.setting-title {
  font-size: 2em;
}

.setting-text {
  font-weight: 400;
  color: #1b2733;
  white-space: nowrap;
}

#calendar-text {
  margin-left: 15px;
  margin-top: 8px;
}

.slider, input[type=range] {
  height: 100%;
}

.switch {
  width: 100%;
}

.green-font {
  color: #28c3b5;
  font-weight: 300;
}

.green-background {
  background-color: #28c3b5;
}

.purple-font {
  color: #7f5dfc;
}

.purple-border {
  border: 2px solid #7f5dfc;

}

.span-text {
  font-size: 1.2em;
  display: block;
}

.no-margins {
  margin: 0;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-padding-left {
  padding-left: 0;
}

.no-padding-right {
  padding-right: 0;
}

.small-margin-top {
  margin-top: 1em;
}

.small-margin-bottom {
  margin-bottom: 1em;
}

.medium-margin-bottom {
  margin-bottom: 2em;
}

.text-container {
  display: flex;
  float: none;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
}

.confidence-level, .range-field {
  display: none;
}

.switch:hover {
  /*background-color: gray;*/
}

.switch:hover .setting-text{
  text-overflow: ellipsis;
  overflow: hidden;
}

.switch:hover .confidence-level {
  display: block;
  font-size: 0.9em;
}

.switch:hover .range-field {
  display: block;
}

input[type=range] {
  border: none;
  margin: 7px 0;
}

input[type=range]::-webkit-slider-runnable-track {
  background: #28c3b5;
  height: 2px
}

input[type=range]::-webkit-slider-thumb {
  border: 1px solid #7f5dfc;
  background: #28c3b5;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  border: 1px solid #7f5dfc;
  background: #28c3b5;
}

input[type=range] + .thumb.active {
  border: 1px solid #7f5dfc;
  background: #28c3b5;
}

.switch label .lever:after {
  content: "Off";
  text-align: center;
  font-weight: 300;
  color: white;
  background-color: #7f5dfc;
  width: 31px;
  height: 19px;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.4);
  left: -5px;
  top: -2px;
  padding-top: 1px;
}

.switch label .lever {
  background-color: #fefdfb;
  width: 70px;
  height: 19px;
}

.switch label input[type=checkbox]:checked+.lever {
  background-color: #e5ddfb;
}

.switch label input[type=checkbox]:checked+.lever:after {
  content: "On";
  background-color: #28c3b5;
  left: 38px;
}

input[type=text], .input-field label, [type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
  font-weight: 300;
  color: #7f5dfc;
  height: 2.5em;
}

[type="radio"]:not(:checked)+label:before, [type="radio"]:not(:checked)+label:after {
  border: 2px solid #7f5dfc;
}

.input-field label {
  font-size: 0.9em;
  left: 20px;
}

.input-field label.active {
  top: 25px;
}

input[type=text], input[type=text].valid {
  border: 1px solid #7f5dfc;
  box-shadow: none;
  border-radius: 100px;
  text-indent: 20px;
}

input[type=text]:focus:not([readonly]) {
  border: 1px solid #28c3b5;
  box-shadow: none;
}

.input-field label.billing-info {
  left: 30px;
}

input[type=text], input[type=text].valid.billing-info {
  text-indent: 15px;
}

.btns {
  position: absolute;
  bottom: 0;
  bottom: 15px;
  right: 15px;
}

.btn {
  background-color: #28c3b5;
  height: 39.5px;
  color: #fefdfb;
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
  border-radius: 100px;
}
