body {
  background-color: #fefdfb;
  font-family: 'Merriweather', serif;
  padding: 2em;
}

hr {
  width: 70%;
}

strong {
  color: #7f5dfc;
}

img {
  max-width:100%;
  max-height:100%;
}

section {
  margin: 5em auto;
}

.sec-titles {
  margin-bottom: 1em;
}

#intro-message {
  text-align: center;
}

.intro-text {
  line-height: 135%;
}

.responsive-br {
  display: none;
}

.btn {
  background-color: #28c3b5;
  border: none;
  border-radius: 50px;
  padding: .5em 2em;
}

#intro-btn {
  font-size: 1.5em;
  margin-top: 1em;
}

#end-container {
  margin-bottom: 4em;
}

#end-btn {
  font-size: 1.5em;
}

.center-block {
  width: 50%;
  text-align: center;
}

#emails-container {
  height: 100em;
}

.emails {
  border: 1px solid #7f5dfc;
  padding: 15px;
  z-index: 1;
  transform: translateY(0px);
  background-color: white;
  position: absolute;
}

.email-imgs {
  z-index: 1;
  transform: translateY(0px);
  position: absolute;
}

.email-titles {
  display: inline-block;
}

.email-hr {
  border-color: #7f5dfc;
  width: 100%;
  margin-top: 0;
}

#email-1 {
  transform: translateY(200px);
}

#email-img-1 {
  transform: translateY(650px);
  width: 17%;
}

#email-2 {
  transform: translateY(600px);
}

#email-3 {
  transform: translateY(800px);
}

#email-img-2 {
  transform: translateY(1400px);
}

#email-4 {
  transform: translateY(1200px);
}

#email-5 {
  transform: translateY(1300px);
}

#email-img-3 {
  transform: translateY(2000px);
}

.features {
  padding: 2em 0;
}

.feature-text {
  vertical-align: middle;
  text-align: center;
}

.feat-left {
  text-align: center;
}

.feat-right {
  text-align: center;
}

.testimonial {
  text-align: center;
}
@media screen and (max-width:768px) {
  h1 {
    font-size: 4em;
    color: #1b2733;
  }

  h2 {
    font-size: 3em;
    color: #1b2733;
  }

  h3 {
    font-size: 2em;
    color: #1b2733;
  }

  h5 {
    font-size: 1.4em;
  }

  p {
    color: #647382;
    font-size: 1.3em;
    font-weight: 300;
  }

}


@media screen and (min-width:768px) {
  body {
    padding: 0;
  }

  h1 {
    font-size: 5em;
    color: #1b2733;
  }

  h2 {
    font-size: 4em;
    color: #1b2733;
  }

  h3 {
    font-size: 2.2em;
  }

  h5 {
    font-size: 1.4em;
  }

  p {
    font-size: 1.2em;
  }

  #intro {
    margin: 5em auto;
  }

  #intro-message {
    text-align: left;
  }

  .responsive-br {
    display: inline;
  }

  #email-img-1 {
    width: 11%;
  }

  .feat-left {
    text-align: right;
  }

  .feat-right {
    text-align: left;
    padding-top: 2em;
  }

  .testimonial {
    padding:0 17em;
  }
}
