<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Kylie.ai</title>

  <!-- FAVICON -->
  <link rel="apple-touch-icon" sizes="57x57" href="../../images/favicon.ico/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../../images/favicon.ico/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../../images/favicon.ico/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../../images/favicon.ico/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../../images/favicon.ico/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../../images/favicon.ico/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../../images/favicon.ico/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../../images/favicon.ico/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.ico/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="../../images/favicon.ico/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../images/favicon.ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="../../images/favicon.ico/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../images/favicon.ico/favicon-16x16.png">
  <link rel="manifest" href="../../images/favicon.ico/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff ">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff ">

  <!-- STYLES -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400|Open+Sans:300,400,500" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../../../node_modules/materialize-css/dist/css/materialize.css" rel="stylesheet">
  <link href="../../styles/dashboard/dashboard-manager.css" rel="stylesheet">

  <!-- SCRIPTS -->
  <script type="text/javascript" src="../../../node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="../../../node_modules/materialize-css/dist/js/materialize.min.js"></script>
  <script type="text/javascript" src="../../scripts/dashboard.js"></script>

</head>

<body>
  <div class="row">

    <div id="side-navbar" class="dark-grey-background">
      <div class="nav-options">
        <img class="nav-logo" src="../../images/favicon.ico/favicon-96x96.png" />
        <a href="./dashboard-manager.html"><i data-view="manager" class="material-icons">&#xE871;</i></a>
        <a href="./settings-roles.html"><i data-view="settings" class="material-icons">&#xE8B8;</i></a>
      </div>
    </div>

    <div id="dash-view" class="col s8 m11 l11 offset-s3 offset-m1 offset-l1">
      <div id="manager-view">
        <div id="saved-notification" class="dark-grey-background animated">
          <i class="fa fa-circle fa-1x green-font" aria-hidden="true"></i>
          <p>Changes Saved</p>
        </div>

        <div class="dash-title">
          <h3>Zendesk</h3>
          <!-- <div class="integration-creator">
            <div class="grey-dashed-border">
              <a class="grey-font">&#43;</a>
            </div>
          </div> -->
        </div>

        <div id="manager-stats">
          <div class="manager-stats-card">
            <p class="purple-font no-margins"><span class="stat-time-saved">4</span> hrs <span class="stat-time-saved">36</span> mins</p>
            <p class="black-font no-margin-bottom">Avg. Time Saved</p>
          </div>

          <div class="manager-stats-card">
            <p class="purple-font no-margins"><span class="stat-response-time">4</span> hrs <span class="stat-response-time">36</span> mins</p>
            <p class="black-font no-margin-bottom">Avg. Response Time</p>
          </div>

          <div class="manager-stats-card">
            <p class="purple-font no-margins"><span class="stat-generated-drafts">0</span> /52,000</p>
            <p class="black-font no-margin-bottom"># of Generated Drafts</p>
          </div>

        </div>

        <div id="manager-controls">
          <form id="assignment-form">
            <div id="assignment-search-bar">
              <div>
                <p class="black-font no-margins">Human Agents</p>
                <i id="agent-search-toggle" class="material-icons black-font">&#xE8B6;</i>
                <div class="input-field hide">
                  <input type="text" id="agent-search" />
                </div>
              </div>
              <div id="select-all" class="switch">
                <label>
                  <input type="checkbox">
                  <span class="lever"></span>
                </label>
              </div>
            </div>
            <div id="assignment-switch-container" class="">
              <div class="assignment-row">
                <p class="black-font">Jamasen Rodriguez</p>
                <div class="switch">
                  <label>
                    <input type="checkbox" value="Jamasen Rodriguez">
                    <span class="lever"></span>
                  </label>
                </div>
              </div>

              <div class="assignment-row">
                <p class="black-font">Sinan Ozdemir</p>
                <div class="switch">
                  <label>
                    <input type="checkbox" value="Sinan Ozdemir">
                    <span class="lever"></span>
                  </label>
                </div>
              </div>

              <div class="assignment-row">
                <p class="black-font">William Namen</p>
                <div class="switch">
                  <label>
                    <input type="checkbox" value="William Namen">
                    <span class="lever"></span>
                  </label>
                </div>
              </div>

              <div class="assignment-row">
                <p class="black-font">Kathleen Quillian</p>
                <div class="switch">
                  <label>
                    <input type="checkbox" value="Kathleen Quillian">
                    <span class="lever"></span>
                  </label>
                </div>
              </div>
            </div>
          </form>

          <div id="clone-manager">
            <div id="clone-title-bar">
              <p class="black-font no-margins">Kylie.ai Clone</p>
            </div>

            <div id="clone-slide-container" class="">
              <p class="black-font center-align">Learning From</p>

              <div id="clone-stats">
                <div class="clone-stat">
                  <p id="agents-stat" class="purple-font no-margins">0</p>
                  <p class="black-font no-margin-top">Agents</p>
                </div>

                <div class="clone-stat">
                  <p id="conversations-stat" class="purple-font no-margins">0</p>
                  <p class="black-font no-margin-top">Conversations</p>
                </div>
              </div>

              <form id="clone-sliders">
                <div class="clone-slider-row">
                  <p class="black-font no-margin-bottom">Draft Confidence Level</p>
                  <p class="range-field no-margin-top">
                    <input type="range" id="draft-confidence" min="0" max="100" />
                  </p>
                </div>

                <div class="clone-slider-row">
                  <p class="black-font no-margin-bottom">Autosend Confidence Level</p>
                  <p class="range-field no-margin-top">
                    <input type="range" id="autosend-confidence" min="0" max="100" />
                  </p>
                </div>
              </form>

            </div>
          </div>

        </div>

      </div>

    </div>
  </div>

</body>
</html>
